@{ ViewData["Title"] = "交易紀錄"; Layout = "TransactionLayout.cshtml";}
@model IEnumerable<Aircnc.FrontStage.Models.ViewModels.Transaction.TransactionViewModel>
@{ var roomName = (IEnumerable<string>)ViewData["RoomName"];
    var transactionList = Html.Raw(ViewData["transactionList"]);
}
<!-- content -->
<div class="container">
    <!-- 新增收款方式的按鈕區塊 -->
    <div class="row mt-5 ms-md-4">
        <div class="col-10 col-md-8 add-new-payout-method border ms-md-5 p-3">
            <div class="icon-add-payout-container d-flex">
                <div class="icon-container">
                    <i class="fas fa-exclamation-triangle fs-5 text-white icon"></i>
                </div>
                <div class="add-payout-content ms-3">
                    <span class="fs-6 add fw-bold">新增收款方式</span>
                    <span class="payout-content-text d-block fw-bold">你必須設定收款方式，才能收取款項。</span>
                </div>
            </div>
            <div class="link-area mt-3 ms-5">
                <a href="#" class="text-black fw-bold ms-3 know-detail">了解詳情</a>
                <a href="~/Personal/PayoutMethod" class="text-black fw-bold start ms-2">開始吧</a>
            </div>
        </div>
    </div>

    <!-- 查詢交易紀錄區塊 -->
    <div class="row mt-4 ms-md-3">
        <div class="col-10 col-md-8 ms-4 mt-3">
            <span class="fs-2 fw-bold transactions ms-md-3">交易紀錄</span>
        </div>
        <!-- 選項切換列 -->
        <div class="col-10 col-md-8">
            <div class="options ms-md-2">
                <ul class="nav-tabs">
                    <a href="~/Transaction/CompletedTransaction" class="completed-transactions">已完成的收款</a>
                    <a href="~/Transaction/FutureTransaction" class="future-transactions">即將入帳收款</a>
                    <a href="~/Transaction/GrossEarnings" class="gross-earnings">總收入</a>
                </ul>
            </div>
        </div>
    </div>

    <!-- 篩選器區塊 -->
    <!-- 房源&收款方式 -->
    <div class="row mt-1 ms-md-4">
        <div class="col-10 col-md-8 ms-md-4">
            <div class="input-group input-group-lg">
                <select class="form-select mt-md-2" id="roomSelector" aria-label="Example select with button addon">
                    <option selected>所有房源</option>
                    @foreach(var room in roomName)
                     {
                        <option>@room</option>
                     }
                </select>
            </div>
        </div>
    </div>

    <!-- 查詢結果區塊 -->
    <div class="row mt-5 ms-3 ms-md-2 query">
        <div class="col-8 col-md-5 ms-md-5">
            @*<span class="has-paid-label fw-bold fs-5">待收款處理:</span>*@
            <span class="has-paid-amount fw-bold fs-5" id="amount-sum">@*@Model.Select(x => x.TotalAmount).Sum()*@</span>
        </div>
        <div class="col-2 col-md-3 submit">
            <button class="btn border border-2 fw-bold query-submit" id="submit-btn">查詢</button>
        </div>
    </div>

    <!-- reminder -->
    @if (Model.Count() == 0)
    {
        <div class="row mt-3 ms-3 ms-md-5 mb-3 reminder">
            <div class="col-10 col-md-8 ms-md-3 shadow py-4 px-3 border border-1">
                <span class="fs-5">您沒有任何將至收款</span>
                <span class="d-block fs-6">房源及目前選擇的收款方式</span>
            </div>
        </div>

    }

    <div class="row ms-2 show-row">
        <div class="col-10 col-md-8 ms-md-5 show-div">
            <table id="table">
                <thead id="thead">
                    <tr id="head-tr">
                        <th id="create-time">
                            <span>@*訂單生成時間*@</span>
                        </th>
                        <th id="total-amount">
                            <span>@*總金額*@</span>
                        </th>
                    </tr>
                </thead>
                @*<tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CreateTime
                            </td>
                            <td>
                                @item.TotalAmount
                            </td>
                        </tr>
                    }
                </tbody>*@
            </table>
        </div>
    </div>
</div>


@section CSS{
    <link href="~/css/Transaction/FutureTransaction.css" rel="stylesheet" />
}
@section endJS{ 
    <script>
        //selector DOM
        const roomSelector = document.getElementById('roomSelector')
        const submitBtn = document.getElementById('submit-btn')
        let sum = document.getElementById('amount-sum')

        //table DOM
        let timeTh = document.getElementById('create-time')
        let totalAmountTh = document.getElementById('total-amount')
        const theadTr = document.getElementById('head-tr')
        const thead = document.getElementById('thead')
        const table = document.getElementById('table')
        const showDiv = document.getElementById('show-div')
        const showRow = document.getElementById('show-row')

        //宣告
        let data = []
        data = @transactionList
        //console.log(data)

            let filterData = []
        data.forEach(x => {
            filterData.push(x)
        })
        console.log(filterData)

        submitBtn.addEventListener('click', function () {
            //table.innerHTML = ''
                FilterDataByRoom(filterData)

        })
        //function
        function FilterDataByRoom(filterData) {
            table.innerHTML = ''


            
                filterData.forEach(content => {
                    //如果選到的房間沒有任何交易紀錄
                    let tbody = document.createElement('tbody')
                    let tbodyTr = document.createElement('tr')
                    //if (roomSelector.value != "所有房源" && content.RoomName!=roomSelector.value) {
                    //    console.log(1)
                    //    table.innerText = "查無資料!"
                    //    table.classList.add("mx-auto","mb-3")
                    //}

                //如果條件為所有房源
                 if (roomSelector.value == '所有房源') {
                        timeTh.innerText = '生成時間'
                        timeTh.classList.add("fs-4")
                        totalAmountTh.innerText = '總金額'
                        totalAmountTh.classList.add("fs-4")
                        theadTr.append(timeTh, totalAmountTh)
                        thead.append(theadTr)

                        tbodyTr = document.createElement('tr')
                        let createTimeTd = document.createElement('td')
                        let totalAmountTd = document.createElement('td')
                        createTimeTd.innerText = content.CreateTime
                        totalAmountTd.innerText = content.TotalAmount
                        tbodyTr.append(createTimeTd, totalAmountTd)
                        tbody.append(tbodyTr)

                        table.append(thead, tbody)
                        table.classList.add("table")
                        filterData = []
                        data.forEach(x => {
                            filterData.push(x)
                        })
                    }
                    //如果條件為單一房源
                    else if (roomSelector.value == content.RoomName) {
                        console.log(987)
                        timeTh.innerText = '生成時間'
                        timeTh.classList.add("fs-4")
                        totalAmountTh.innerText = '總金額'
                        totalAmountTh.classList.add("fs-4")
                        theadTr.append(timeTh, totalAmountTh)



                        let createTimeTd = document.createElement('td')
                        let totalAmountTd = document.createElement('td')
                        createTimeTd.innerText = content.CreateTime
                        totalAmountTd.innerText = content.TotalAmount
                        tbodyTr.append(createTimeTd, totalAmountTd)
                        thead.append(theadTr)
                        tbody.append(tbodyTr)
                        table.append(thead, tbody)
                        table.classList.add("table")
                        filterData = []
                        data.forEach(x => {
                            filterData.push(x)
                        })
                    }

                })
            
            
        }
    </script>
}
