a{
    text-decoration: none;
    color: black;
}
a:hover{
    border-bottom: 1px solid #000;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 4;
}
.navbar-brand:hover{
    border: none;
}
.logo{
    width: 100px;
}
li{
    list-style: none;
}
footer ul {
    font-size: 12px;
}
footer h4{
    font-size: 16px;
    font-weight: bold;
}
.dropdown-menu.dropdown-menu-end{
    border-radius: 20px;
}
.social:hover{
    border: none;
    color: #faa;
    transition: 0.3s ease;
}

section{
    margin-top: 120px;
    margin-bottom: 50px;
}

.breadcrumb{
    color: #484848;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.title h4{
    color: #484848;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
}

.lower-container{
    display: flex;
}

#dropdownMenu2{
    width: 20%;
}

.edit-btn{
    font-size: 16px;
    line-height: 22px;
    color: #008489;
    width: 11%;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.edit-btn:hover{
    color: #008489;
}

.form-check{
    display: flex;
    justify-content: end;
    align-items: center;
}

#flexSwitchCheckDefault1{
    font-size: 20px;
    background-color: #008489;
}
#flexSwitchCheckDefault2{
    font-size: 20px;
    background-color: #008489;
}
#flexSwitchCheckDefault3{
    font-size: 20px;
    background-color: #008489;
}

.function-share-to-facebook{
    display: flex;
    justify-content: space-between;
}

.function-share-to-facebook-content h5{
    color: #484848;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.function-share-to-facebook-content p{
    color: #484848;
    font-size: 14px;
    line-height: 20px;
}

.right-container{
    box-sizing: border-box;
    height: 55%;
    padding: 2%;
    border: lightgray solid;
    border-radius: 5px;
}

#hr-sm-display{
    display: none;
}
@media screen and (max-width:767px) {
    .right-container{
        box-sizing: border-box;
        height: 5%;
        padding: 2%;
        border: none;
    }
    #hr-sm-display{
        display: block;
    }
}